.title {
    color: var(--primary-color);
}

.text {
    color: var(--primary-color);
}

.error {
    .text,
    .title {
        color: var(--error-color);
    }
}

.inverted {
    .text,
    .title {
        color: var(--inverted-primary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font-size: var(--font-size-m);
        line-height: 21px;
        font-weight: 600;
    }

    .text {
        font-size: var(--font-size-s);
    }
}

.size_m {
    .title {
        font-size: var(--font-size-l);
    }

    .text {
        font-size: var(--font-size-m);
    }
}

.size_l {
    .title {
        font-size: var(--font-size-xl);
        font-weight: bold;
    }

    .text {
        font-size: var(--font-size-l);
    }
}
