.title {
    font-size: var(--font-size-l);
    color: var(--secondary-color);
}

.text {
    font-size: var(--font-size-m);
    color: var(--primary-color);
}

.error {
    .text,
    .title {
        color: var(--error-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
