.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 10px;

    &:hover {
        color: var(--hover-btn);
    }
}

.clear,
.clearInverted {
    padding: 0;
    background: none;
    outline: none;
    border: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.outline_red {
    border: 1px solid var(--error-color);
    color: var(--error-color);
    background: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.round {
    padding: 0;
    border-radius: 7px;
}

.round.size_s {
    width: var(--btn-size-s);
    height: var(--btn-size-s);
}

.round.size_m {
    width: var(--btn-size-m);
    height: var(--btn-size-m);
}

.round.size_l {
    width: var(--btn-size-l);
    height: var(--btn-size-l);
}

.size_s {
    font-size: var(--font-size-s);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.disabled {
    opacity: 0.5;
}
