.Sidebar {
    // height: calc(100vh - 50px);
    height: 304px;
    width: 200px;
    background: var(--content-bg-color);
    position: relative;
    transition: width 0.3s;
    border-radius: 8px;
    margin: 16px 16px 0 80px;
    padding: 24px;
}

.switchers {
    margin-top: 32px;
}

.collapseBtn {
    position: absolute;
    right: 0;
    bottom: 140px;
    z-index: 10;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 14px;
    white-space: nowrap;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}
