.BIG {
    .card {
        display: flex;
        gap: 12px;
    }

    .header {
        width: 228px;
    }

    .title {
        height: 42px;
        overflow: hidden;
        margin-top: 12px;
    }

    .textBlock {
        max-height: 150px;
        max-width: 460px;
        overflow: hidden;
    }

    .img {
        width: 360px;
        height: 174px;
        object-fit: cover;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.SMALL {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types p {
        width: 115px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .title {
        margin-top: 8px;
    }

    .title p {
        margin-top: 8px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
