.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container a {
  color: black;
  font-family: "Segoe UI", sans-serif;
  font-size: 62px;
  font-weight: bold;
  line-height: 68.2px;
}
