.Wrapper {
    display: flex;
    align-items: center;
}

.label {
    margin-right: 5px;
}

.select {
    background-color: transparent;
    outline: none;
    color: var(--primary-color);
    padding: 4px 10px 4px 4px;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
