.Wrapper {
    display: flex;
    align-items: center;
}

.select {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-color);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
