.app.light {
    --bg-color: rgba(240, 240, 249, 0.963);
    --inverted-bg-color: rgba(11, 11, 11, 0.948);

    --primary-color: rgba(15, 17, 18, 0.923);
    --secondary-color: rgba(0, 255, 229, 0.922);
    --inverted-primary-color: rgb(234, 243, 234);
    --inverted-secondary-color: rgb(39, 193, 183);
}