:root {
    --bg-color: rgb(255 247 252 / 100%);
    --header-color: rgb(213 99 154 / 100%);
    --content-bg-color: rgb(255 255 255 / 100%);
    --inverted-bg-color: rgb(11 11 11 / 94.8%);
    --primary-color: rgb(34 4 19 / 100%);
    --secondary-color: rgb(213 99 154 / 100%);
    --inverted-primary-color: rgb(234 243 234);
    --inverted-secondary-color: rgb(39 193 183);

    // hover
    --hover-btn: rgb(213 99 154 / 100%);

    // icon
    --icon-color: rgb(126 116 124 / 100%);

    // skeleton
    --skeleton-shadow: #17161653;
    --skeleton-color: rgba(0 0 0 / 20%);

    // code
    --code-bg: #73737314;

    // input
    --placeholder-color: rgb(126 116 124 / 100%);

    // card
    --card-bg: rgb(244 242 243 / 100%);
    --tab-color: rgb(255 228 244 / 100%);

    // listbox
    --listbox-bg: #73737314;
    --listbox-hover: rgb(144 0 255 / 80.1%);

    // scroll
    --scroll-color: rgb(208 196 202 / 50%);
    --scroll-hover: rgb(208 196 202 / 70%);
}
