.app_bright_theme {
    --bg-color: #d58080;
    --inverted-bg-color: #FBF4F4;
    --primary-color: #FBF4F4;
    --secondary-color: #FBF4F4;
    --inverted-primary-color: #d58080;
    --inverted-secondary-color: #CB6B62;

    --skeleton-shadow: #ece1e1e6;
    --skeleton-color: rgba(236, 210, 210, 0.796);
}
