.navbar {
    width: 100%;
    height: 80px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    padding: 20px;

    .logo {
        margin-left: 80px;
    }
}

.links,
.actions {
    margin-left: auto;
}

.createBtn {
    margin-right: 12px;
}

